.header{
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    height: 293px;
    align-items: center;
    padding: 0 50px;
    grid-template-areas:
    "nav logo address";
}

.nav-list {
    grid-area: nav;
    display: flex;
    gap: 31.48px;
    color: black;
    list-style: circle;
}

.header__address {
    border-bottom: 1px solid black;
    line-height: 0%;
}

.header-logo {
    grid-area: logo;
    width: 148px;
    height: 105px;
}

.address {
    grid-area: address;
    max-width: 240px;
    justify-self: end;
}

.h1-cover {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin: 50px;
}

.cover{
    background-color: white;
    background-image: url(../images/cover.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 757px;
}

.description {
    letter-spacing: 0%;
}

.cover-p {
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
}

.lots {
    background-color: bisque;
    height: 723px;
    margin: 180px 24px;
}

.lots-ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.lote-card {
    width: 334px;
    height: 596px;
    padding: 48px 40px 30px;

}

.h1-lots {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: 27px;
}

.lots-link {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.lots-artc {
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
}

.lots-link-end {
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-left: 40px;
    margin-bottom: 2px;
}

.about {
    display: flex;
    height: 595px;
    margin: 120px 24px 180px;
    padding-top: 35px;
    padding-left: 47px;
}

.about-text {
    margin-top: 98px;
    margin-left: 72px;
    display: flex;
    flex-direction: column;
}

.h1-about{
    margin-bottom: 100px;
}

.about-p {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
}

.footer {
    background-color: aquamarine;
    display: flex;
    height: 180px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
}

.footer-socmedia {
    display: flex;
    justify-content: space-between ;
}