.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    height: 293px;
    align-items: center;
    padding: 0 50px;
    grid-template-areas:
    "nav logo address";
}

.nav-list {
    grid-area: nav;
    display: flex;
    width: 391.48px;
    gap: 32px;
    color: black;
    list-style: circle;
}

.header-logo {
    grid-area: logo;
    width: 148px;
    height: 105px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 0.5px;
}


.address {
    grid-area: address;
    max-width: 240px;
    justify-self: end;
}

.header__address {
    font-style: normal;
    line-height: 24.3px;
}

.address-link {
    text-decoration: none;
    border-bottom: 1px solid;
}

.cover {
    height: 757px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.6);
    z-index: 1;
}

.h1-cover {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 100px;
    letter-spacing: 30px;
    color: white;
    width: 100%;
    text-transform: uppercase;
    padding: 165px 50px 106px;
}

.aligned-text {
    display: block;
    text-align: start;
    margin-bottom: 20px;
    height: 115px;
}

.aligned-text_center {
    display: block;
    margin-bottom: 20px;
    height: 115px;
    padding-left: 330.5px;
}

.aligned-text_right {
    display: block;
    height: 115px;
    padding-left: 613px;
}

.description {
    letter-spacing: 0%;
    color: white;
    height: 51px;
    margin: 0px 50px 50px;
    display: flex;
    justify-content: space-between;
}

.cover-p {
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18px;
    padding-top: 13px;
}

.cover-btn {
    background-color: transparent;
    width: 256px;
    color: white;
    border-bottom-color: white;
    border: 1px solid white;
}

.cover-btn-p {
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    padding-top: 0px;
}

.lots {
    height: 723px;
    margin: 180px 24px 120px;
}

.lots-ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 33px;
    flex-wrap: wrap;
}

.lote-card {
    width: 334px;
    height: 596px;
}

.one {
    background-image: url(../images/card-lot-01.jpg);
    color: white;
}

.two {
    background-image: url(../images/card-lot-02.jpg);
    color: white;
}

.three {
    background-image: url(../images/card-lot-03.jpg);
    color: white;
}

.overlay-one {
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.6);
    z-index: 1;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overlay-two {
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.6);
    z-index: 1;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overlay-three {
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.6);
    z-index: 1;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.h1-lots {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: 27px;
}

.lots-link {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
}

.lots-link-disc {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.lots-artc {
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
}

.lots-link-end {
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-underline-offset: 5px;
    margin: 30px 40px 0px;
}

.about {
    display: grid;
    grid-template-columns: 313px 1fr;
    grid-template-areas:
    "logoa text";
    height: 595px;
    margin: 0px 24px 180px;
    padding-top: 35px;
    padding-left: 47px;
}

.bcg {
    position: absolute;
    z-index: 1;
    grid-area: logoa;
    height: 114px;
    width: 148px;
    background-image: url(../images/logo-white.svg);
    margin-top: 64px;
    margin-left: 46px;
}

.about-logo {
    position: relative;
    background-color: black;
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

.about-text {
    grid-area: text;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.h1-about {
    margin-bottom: 100px;
    text-transform: uppercase;
    font-size: 40px;
}

.about-p-one {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    padding-right: 5px;
    margin-bottom: 24px;
}

.about-p-two {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
}

.footer {
    display: flex;
    height: 180px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 163px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}

.links-under {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.footer-socmedia {
    width: 240px;
    list-style: none;
    display: flex;
    justify-content: space-between ;
}

.media-image {
    display: block;
    width: 48px;
    height: 48px;
}

.onei {
    background-image: url(../images/yt.svg);
}

.twoi {
    background-image: url(../images/vk.svg);
}

.threei {
    background-image: url(../images/pinterest.svg);
}